<div infinite-scroll='addTweets()' infinite-scroll-distance='2'>
	<div  class = "tweet" ng-repeat = "tweet in likedTweetsFeed">
		<div class = "tweetInfo row">
			<div class = "tweetProfImg col-xs-1">
				<img class = "profile-picture" ng-src= "{{tweet.user.profile_image_url}}"  alt = "OOps"/>
			</div>
			<div class = "tweetHandle col-xs-10">
				<a  class = "tweet-handle-link" ng-href ="{{'http://www.twitter.com/'+ tweet.user.screen_name }}">@{{tweet.user.screen_name}}</a>
			</div>
		</div>
		<div class = "tweetBody">
			<!-- <pre>{{tweet | json}}</pre> -->
			<p ng-bind-html = "tweet.text | linky"></p>
			<img ng-show = "tweet.entities.media[0]" ng-src = "{{tweet.entities.media[0].media_url}}"/>
		</div>
		<div class = "interaction-buttons">
			<button ng-click = "toggleReply(tweet)" class = "btn btn-primary glyphicon glyphicon-share-alt"></button>
			
			<button ng-hide = "tweet.retweeted" ng-click = "retweet(tweet)" class = "btn btn-info glyphicon glyphicon-refresh" ></button>
			<button ng-show = "tweet.retweeted" ng-click = "unretweet(tweet)" class = "btn btn-success glyphicon glyphicon-refresh" ></button>

			<button ng-hide = "tweet.favorited" ng-click = "likeTweet(tweet)" class = "btn btn-danger glyphicon glyphicon-heart-empty"></button>
			<button ng-show = "tweet.favorited" ng-click = "unlikeTweet(tweet)" class = "btn btn-success glyphicon glyphicon-heart"></button>
		</div>
	</div>
</div>

