<div id = "navbar" class = "">
	<div class= "row">
		<div class = "col-xs-2"></div>
		<div class = "col-xs-8">
			<h1 class = "text-center"><a class = " title-link" href = "index.html">Twinder</a></h1>
		</div>
		<div style= "padding-top: 20px;"class = "col-xs-2">
			<p ng-show= "userData" style>@{{userData.twitter.username}}</p>
			<button class = "btn logout-btn twitter-blue btn-primary" ng-show = "userData" ng-click = "logout()">Log out</button>
		</div>
		
		
		
	</div>
</div>
<div class = "row ">
	<div class = "col-xs-1"></div>
	<button class = "col-xs-10 btn btn-info signin-btn twitter-blue" ng-hide = "userData" ng-click = "login()">Sign in with Twitter</button>
	<div class = "col-xs-1"></div>
</div>